@font-face {
  font-family: "Asap-Regular";
  src: url("~@/assets/fonts/Asap-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Asap-Bold";
  src: url("~@/assets/fonts/Asap-Bold.ttf") format("truetype");
  font-weight: normail;
  font-style: normal;
}

@font-face {
  font-family: "Asap-Medium";
  src: url("~@/assets/fonts/Asap-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}