@import '~bulma/bulma';

html * {
  font-family: "Asap-Regular";
  color: #1c1c1c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Asap-Bold";
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: $grey-lighter;
  height: 1px;
}

.content p {
  color: #1c1c1c;
  font-family: "Asap-Medium";
}

ul, li {
  font-family: "Asap-Medium";
}