.platform {
  margin-top: 10%;
  margin-bottom: 5%;
  padding-left: 12px;
  padding-right: 12px;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}

// Mobile Portrait
@media only screen and (max-width: 768px) {
  .platform {
    width: 90%;
    margin: 0 auto;
    margin-top: 50%;
  }
}

// Mobile Landscrape
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .platform {
    margin-top: 10%;
  }
}